/* Para garantir que o menu da página de votação não fique flutuando */
.voting-section {
    min-height: 80vh;
}

.voting-container {
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    background-color: var(--secondary-color); /* Cor de fundo de seções claras */
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.voting-group label {
    display: block;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--light-text);
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.voting-group label:hover {
    background-color: #f0f0f0;
    border-color: var(--primary-color);
}

.voting-group input[type="radio"] {
    margin-right: 15px;
    /* Esconder o radio button padrão e usar o span para estilizacao customizada */
    display: none; 
}

.voting-group input[type="radio"]:checked + .radio-label {
    background-color: var(--primary-color);
    color: var(--light-text);
    padding: 10px;
    border-radius: 4px;
}

.radio-label {
    display: inline-block;
}

.radio-label i {
    margin-right: 8px;
    font-size: 1.1rem;
}

/* Estilo do Ranking */
.ranking-display {
    margin-top: 40px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#ranking-list {
    list-style: none;
    padding: 0;
}

#ranking-list li {
    background-color: var(--light-text);
    padding: 10px 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    border-left: 5px solid var(--primary-color);
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}